.triangle
    width: 0
    height: 0
    border-top: 5px solid transparent
    border-left: 8px solid #999999
    border-bottom: 5px solid transparent
    margin: 0 16px

.container
    border-top: 1px solid #EEEEEE
    border-bottom: 1px solid #EEEEEE
    display: flex
    align-items: center
    margin: 32px -64px
    padding: 8px 64px

.menuItem
    font-weight: 700
    font-size: 14px
    line-height: 16px
    color: #999999
